/* *{
  border: 1px solid red;
} */

html{
  font-family: "Roboto", sans-serif;
}

body{
  width: 100%;
  height: 750px;
  background: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post{
  display: flex;
  flex-direction: column;
  background: white;
  width: 25%;
  height: auto;
  justify-content: center;
}

.post-header{
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-left{
  display: flex;
  width: 60%;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
}

.header-left i{
  font-size: 25px;
}

.p-header{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.p-header p{
  margin: 0;
}

.header-right{
  display: flex;
  width: 39%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#lugar{
  color: #393e47;
}

.header-right i{
  margin-right: 10px;
  font-size: 30px;
}

.post-img{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.post-img img{
  width: 100%;
}

.post-body{
  margin: 0 10px;
}

.post-icons{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 100%;
  align-items: center;
  height: 30px;
}

.icons-left{
  width: 50%;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.icons-right{
  width: 49%;
  display: flex;
  justify-content: end;
}

i{
  cursor: pointer;
}

@media (max-width: 1300px){
  .post{
    width: 40%;
  }
}

@media (max-width: 790px){
  .post{
    width: 50%;
  }
}

@media (max-width: 430px){
  .post{
    width: 70%;
  }
}